<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main},'Đặt hàng')}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<main>
		<div ng-controller="order_ctrl">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="true">Danh sách</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
						aria-selected="false">Cài đặt</a>
				</li>
				<form class="form-inline ml-3">
					<div class="input-group input-group-sm">
						<input class="form-control form-control-navbar" ng-model="filterBy" ng-keyup="search()"
							ng-required='true' type="search" placeholder="Search" aria-label="Search">
						<div class="input-group-append">
							<a class="btn btn-navbar" ng-click="search()" type="submit">
								<i class="fas fa-search"></i>
							</a>
						</div>
					</div>
				</form>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div style="height: 420px;">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Tài khoản</th>
									<th scope="col">Họ và tên</th>
									<th scope="col">Email</th>
									<th scope="col">SĐT</th>
									<th scope="col">Địa chỉ</th>
									<th scope="col">Trạng thái</th>
									<th scope="col">Ngày</th>
									<th scope="col">Chỉnh sửa</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="stu in items | orderBy:'order_id'|limitTo:pt:start">
									<td>{{stu.order_id}}</td>
									<td>{{stu.user.user_username}}</td>
									<td>{{stu.order_fullname}}</td>
									<td>{{stu.order_email}}</td>
									<td>{{stu.order_phone}}</td>
									<td>{{stu.order_address}}</td>
									<td>{{stu.order_status}}</td>
									<td>{{stu.order_createdate | date : "dd/MM/yyyy"}}</td>
									<td>
										<button class="btn btn-sm btn-warning" ng-click="edit(stu.order_id)"><i class="fa-solid fa-square-pen"></i></button>
						                <button class="btn btn-sm btn-danger" ng-click="delete(stu.order_id)"><i class="fa-solid fa-trash-can"></i></button>
						            </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="m-auto col-sm-4">
		         		 <button ng-click="end(1)" class="btn btn-outline-primary border-1"> << </button>
			            <button ng-click="truoc(); test(1)" class="btn btn-outline-primary border-1 me-2"> < </button>
			            <button ng-click="loadtrang(trang); test(1) " class="btn btn-outline-primary numberPage" id="trang1">{{trang}}</button>
			            <button ng-click="loadtrang(trang+1); test(2)" class="btn btn-outline-primary numberPage" ng-show="showtrang1()" id="trang2">{{trang+1}}</button>
			            <button ng-click="loadtrang(trang+2); test(3)" class="btn btn-outline-primary numberPage" ng-show="showtrang2()" id="trang3">{{trang+2}}</button>
			           <button ng-click="tiep(); test(3)" class="btn btn-outline-primary border-1"> > </button>
			           <button ng-click="end(2)" class="btn btn-outline-primary border-1"> >> </button>
			       </div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<form name="myForm">
						<div class="form-group">
							<label for="idOrder">ID</label>
							<input ng-model="form.order_id" type="text" class="form-control" id="idOrder" readonly="readonly">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect2">Người dùng</label>
							<select class="form-control" ng-model="form.user.user_username" id="exampleFormControlSelect2" ng-change="loadfullname()">
								<option ng-repeat="u in user2" value="{{u.user_username}}">{{u.user_username}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="fullname">Họ và tên</label>
							<input ng-model="form.order_fullname" name="fullname" type="text" class="form-control" id="fullname"
								required>
						</div>
						<div class="form-group">
							<label for="fullname">Email</label>
							<input ng-model="form.order_email" name="email" type="email" class="form-control" id="email"
								required>
						</div>
						<div class="form-group">
							<label for="Address">SĐT</label>
							<input ng-model="form.order_phone" name="phone" type="text" class="form-control" id="phone"
								required>
						</div>
						<div class="form-group">
							<label for="Address">Địa chỉ</label>
							<input ng-model="form.order_address" name="Address" type="text" class="form-control" id="Address"
								required>
						</div>
						<div class="form-group">
							<label>Ngày</label>
							<input type="date" ng-value="form.order_createdate"  name="createdate" required>
						</div>
						<div class="form-group">
							<label for="Status">Trạng thái</label>
							<label ng-repeat="s in statuss" class="form-check-label me-2" for="inlineFormCheck">
								<input ng-model="form.order_status" ng-value="s" class="form-check-input1" type="radio"
									id="{{s}}">{{s}}</label>
						</div>


						<button ng-click="create()" type="submit" class="btn btn-primary mt-2">Submit</button>
						<button ng-click="delete(form.order_id)" type="submit" class="btn btn-primary mt-2">Delete</button>
						<button ng-click="reset()" class="btn btn-primary mt-2">Reset</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>

</html>