<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main},'Chi tiết đặt hàng')}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main >
	<div ng-controller="details_ctrl">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Danh sách</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cài đặt</a>
		  </li>
		  <form class="form-inline ml-3">
			<div class="input-group input-group-sm">
				<input class="form-control form-control-navbar" ng-model="filterBy" ng-keyup="search()"
					ng-required='true' type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<a class="btn btn-navbar" ng-click="search()" type="submit">
						<i class="fas fa-search"></i>
					</a>
				</div>
			</div>
		</form>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<div style="height: 420px;">
				<table class="table table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Mã hoá đơn</th>
				      <th scope="col">Mã sản phẩm</th>
				      <th scope="col">Tên sản phẩm</th>
				      <th scope="col">Số lượng</th>
				      <th scope="col">Giảm giá</th>
				      <th scope="col">Giá</th>
				      <th scope="col">Ngày</th>
				      <th scope="col">Trạng thái</th>
				      <th scope="col">Tổng tiền</th>
				      <th scope="col">Chỉnh sửa</th>
				    </tr>
				  </thead>
				  <tbody>
				     <tr ng-repeat="stu in items | orderBy:'ordetail_id'|limitTo:pt:start">
			            <td>{{stu.ordetail_id}}</td>
			            <td>{{stu.order.order_id}}</td>
			            <td>{{stu.product_.product_id}}</td>
			            <td>{{stu.product_.product_name}}</td>
			            <td>{{stu.ordetail_quantity}}</td>
			            <td>{{stu.voucher_.voucher_desc ?stu.voucher_.voucher_desc:'0'}}%</td>
			            <td>{{stu.ordetail_price | currency:'':0}}</td>
			            <td>{{stu.ordetail_createdate | date : "dd/MM/yyyy"}}</td>
			            <td>{{stu.ordetail_status}}</td>
			            <td>{{(tongtien + 
			            (stu.ordetail_price * stu.ordetail_quantity)*(1-(stu.voucher_.voucher_desc?stu.voucher_.voucher_desc:'0')/100)) | currency:'':0 }} VNĐ</td>			            
			            <td>
							<button class="btn btn-sm btn-warning" ng-click="edit(stu.ordetail_id)"><i class="fa-solid fa-square-pen"></i></button>
			                <button class="btn btn-sm btn-danger" ng-click="delete(stu.ordetail_id)"><i class="fa-solid fa-trash-can"></i></button>
			            </td>
        </tr>
				  </tbody>
				</table>
			</div>
			<div class="m-auto col-sm-4">
		         		 <button ng-click="end(1)" class="btn btn-outline-primary border-1"> << </button>
			            <button ng-click="truoc(); test(1)" class="btn btn-outline-primary border-1 me-2"> < </button>
			            <button ng-click="loadtrang(trang); test(1) " class="btn btn-outline-primary numberPage" id="trang1">{{trang}}</button>
			            <button ng-click="loadtrang(trang+1); test(2)" class="btn btn-outline-primary numberPage" ng-show="showtrang1()" id="trang2">{{trang+1}}</button>
			            <button ng-click="loadtrang(trang+2); test(3)" class="btn btn-outline-primary numberPage" ng-show="showtrang2()" id="trang3">{{trang+2}}</button>
			           <button ng-click="tiep(); test(3)" class="btn btn-outline-primary border-1"> > </button>
			           <button ng-click="end(2)" class="btn btn-outline-primary border-1"> >> </button>
			       </div>
		  </div> 
		  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<form name="myForm">
				  <div class="form-group">
				    <label for="idOrderDetails">ID</label>
				    <input ng-model="form.ordetail_id" type="text" class="form-control" id="idOrderDetails" readonly="readonly">
				  </div>
				  <div class="form-group">
					<label for="odetailoder">Mã hoá đơn</label>
					<select class="form-control" ng-model="form.order.order_id" ng-value="form.order.order_id" name="mahd" id="odetailoder">
						<option ng-repeat="o in or" value="{{o.order_id}}" >{{o.order_id}}</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="exampleFormControlSelect2">Mã sản phẩm</label>
					<select class="form-control" ng-model="form.product_.product_id" ng-value="form.product_.product_id"  ng-click="loadgia()" name="masp" id="exampleFormControlSelect2">
						<option ng-repeat="u in pro" value="{{u.product_id}}" >{{u.product_name}}</option>
					</select>
				  </div>
				  <div class="form-group">
				    <label for="quantity">Số lượng</label>
				    <input ng-model="form.ordetail_quantity" type="text" ng-keyup="slprice()" name="quantity" class="form-control" id="quantity" required>
				  </div>
				  <div class="form-group">
				    <label for="priceOrderDetails">Giá</label>
				    <input ng-model="form.ordetail_price" type="price" class="form-control" name="price" id="priceOrderDetails" readonly="readonly">
				  </div>
				  <div class="form-group">
					<label for="magiamgia">Mã giảm giá</label>
					<select class="form-control" ng-model="form.voucher_.voucher_name" ng-value="form.voucher_.voucher_name" id="magiamgia">
						<option ng-repeat="v in voucherr" value="{{v.voucher_name}}" >{{v.voucher_desc}}</option>
					</select>
				  </div>
				  <div class="form-group">
					<label for="Status">Trạng thái</label>
			      	<label ng-repeat="s in statuss" class="form-check-label me-2" for="inlineFormCheck">
			      	<input ng-model="form.ordetail_status" ng-value="s" class="form-check-input1" type="radio" 
			      	id="inlineFormCheck">
				        {{s}}
				     </label>
				  </div>
				  <div class="form-group">
				    <label>Ngày</label>
				    <input type="date" ng-value="form.ordetail_createdate" name="createdate" required>
					 </div>
				 
				  </br>
				  <button ng-click="create()" type="submit" class="btn btn-primary mt-2">Submit</button>
				  <button ng-click="delete(form.order_id)" type="submit" class="btn btn-primary mt-2">Delete</button>
				  <button ng-click="reset()" class="btn btn-primary mt-2">Reset</button>
				</form>
		  </div>
		</div>
		</div>
	</main>
</body>
</html>